<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="TestDataSheetPath" value="C:\Users\Administrator\.jenkins\workspace\ftest"/>
    <add key="IConnectionString" value="test" />
   
    <add key="URL" value="http://15.207.116.19/AspWithNUnit/addition.aspx"/>
    <add key="ScreenShot" value="D:\Selenium_Files\Reports\"/>
    <add key="Excel" value="C:\Users\Administrator\.jenkins\workspace\ftest"/>
    <add key="TestcaseNo" value="2,5"/>
    <add key="Module" value="Master"/>
    <!--Transaction-->
    <!--Master-->
    <add key="LogDirectory" value="C:\Users\Administrator\.jenkins\workspace\ftest\t1.txt"/>
    <add key="uri" value="http://localhost:53485/"/>
  </appSettings>
</configuration>